//
// ADD TO CART POPUP
//

@import "../../../scss/foundation/functions";
@import "../../../scss/base_settings";
@import "../../../scss/responsive-base/mixins";

html.dynamic-cart-popup #dynamic-cart-wrapper {
  width: 720px;
  border: none;
  background: #ffffff;
  padding: 0;
  color: $js-body-font-color;
  display: none;

  #dynamic-cart-header h2 {
    padding: 0;
    background: none;
  }

  #dynamic-cart-continue-btn span {
    @include button(
    $padding: rem-calc(7),
    $bg: $js-button-default-background-color,
    $radius: $js-button-default-radius,
    $full-width: true,
    $disabled: false,
    $is-prefix: false,
    $bg-hover: darken($js-button-default-background-color, 20%),
    $border-color: null,
    $transition: true
    );
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none;
    padding: 10px 12px;
    margin: 0;
  }

  #dynamic-cart-checkout-btn span {
    display: block;
    @include button(
    $padding: rem-calc(7),
    $bg: $js-button-buy-background-color,
    $radius: $js-button-default-radius,
    $full-width: true,
    $disabled: false,
    $is-prefix: false,
    $bg-hover: $js-button-buy-background-color-hover,
    $border-color: null,
    $transition: true
    );
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none;
    padding: 10px 12px;
    margin: 0;
  }

  #dynamic-cart-btn-wrapper a {
    padding: 0;
    float: right;
    margin: 0 0 0 30px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
    min-width: auto;
    text-shadow: none;
  }

  .dynamic-cart-row > div {
    border-top: 1px solid #cdcdcd;
  }

  #dynamic-cart-header-row div {
    font-size: 12px;
  }

  #dynamic-cart-sum-total > div {
    background-color: transparent;
    padding: 0;
    padding-right: 10px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  #dynamic-cart-sum-value, #dynamic-cart-sum-label {
    font-size: 16px;
  }

  .dynamic-cart-prod-img a{
    border: 0;
    width: 50px;
    height: 50px;
  }

  .dynamic-cart-prod-img img {
    border: 0;
    max-width: 100%;
    max-height: 50px;
  }

}

//
//  Medium down
//
@media #{$medium-down} {
  .dynamic-cart-dropdown .dynamic-cart-visible .cart-area-wrapper {
    z-index: 9000;
  }

  #dynamic-cart-content-wrapper {
    display: none;
  }

  #dynamic-cart-sum-total > div {
    width: 100%;
  }

  #dynamic-cart-wrapper {
    width: 100% !important;
  }

  #dynamic-cart-inner {
    width: 100% !important;
  }

  html.dynamic-cart-popup #dynamic-cart-wrapper {
    #dynamic-cart-continue-btn span {
      margin-top: 8px;
      padding: 7px 9px;
    }

    #dynamic-cart-checkout-btn span {
      padding: 7px 9px;
    }
  }
}