{{> header }}

<script>
    var activeModules = [
        {{#each activeModules.active}}'{{ this }}'{{#unless @last}}, {{/unless}}
        {{/each}}]
</script>

<h1>{{ title }}</h1>

<div class="panel callout lightblue">
    To enable modules, add the module's folder name to <code>modules/modules.json</code>
</div>

<p><b>All modules:</b></p>

<ul id="toc">
    {{#each . }}
        {{#each children}}
            <li class="{{#if active }}active{{#if packageData.deprecated}} deprecated{{/if}}{{/if}}"><a
                    href="#item-{{@index}}">{{name}}</a></li>
        {{/each}}
    {{/each}}
</ul>


<div id="module-list-wrapper">
    {{#each . }}
        {{#each children}}
            <div class="item{{#if active }} active{{/if}}" id="item-{{@index}}">
                <div class="box name">
                    {{#if package }}
                        <h3>{{packageData.name}}</h3>
                    {{ else}}
                        <h3>{{ name }}</h3>
                    {{/if }}
                </div>

                <div class="box info clearfix">
                    {{#if error}}
                        <h1 class="warning"><i class="fa fa-fw fa-warning"></i><b>Error:</b> {{error}}</h1>
                    {{/if}}
                    {{#unless package }}
                        <h1 class="warning"><i class="fa fa-fw fa-warning"></i><b>Missing file:</b> package.json</h1>
                    {{/unless}}
                    {{#unless readme }}
                        <h1 class="warning"><i class="fa fa-fw fa-warning"></i><b>Missing file:</b> readme.md</h1>
                    {{/unless}}
                    {{#if package }}
                        {{#if packageData.deprecated }}
                            <h1 class="warning"><i class="fa fa-fw fa-warning"></i>This module is <b>deprecated</b></h1>
                        {{/if}}
                        {{#if packageData.prototype }}
                            <h1 class="information"><i class="fa fa-fw fa-lightbulb-o"></i>This module is a
                                <b>prototype</b> and may not work</h1>
                        {{/if}}
                        <div class="key">Name</div>
                        <div class="value">{{packageData.name}}</div>
                        <div class="key">Version</div>
                        <div class="value">{{packageData.version}}</div>
                        <div class="key">Description</div>
                        <div class="value">{{packageData.description}}</div>
                    {{/if}}
                    <div class="key">Path</div>
                    <div class="value">{{ path}}</div>
                </div>

                {{#if package }}
                    <div class="box people clearfix">
                        <div class="key">Author</div>
                        <div class="value"><a href="mailto:{{packageData.author.email}}">{{packageData.author.name}}</a>
                        </div>
                        {{#if packageData.contributors }}
                            <div class="key">Contributors</div>
                            <div class="value">
                                {{#each packageData.contributors}}
                                    <a href="mailto:{{email}}">{{name}}</a>{{#unless @last}}, {{/unless}}
                                {{/each}}
                            </div>
                        {{/if}}

                    </div>
                {{/if }}

                {{#if children}}
                <div class="group box files clearfix">
                    <div class="key">
                        <b>Files</b>
                    </div>
                    <div class="value">
                        {{#each children}}
                            {{#ifValue name equals "js" }}
                                <div class="file-list file-list-js">
                                    <b>Javascript</b>
                                    <ul>
                                        {{#each children}}
                                            <li>
                                                {{ name }}
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/ifValue }}

                            {{#ifValue name equals "scss" }}
                                <div class="file-list file-list-scss">
                                    <b>Sass</b>
                                    <ul>
                                        {{#each children}}
                                            <li>
                                                {{ name }}
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/ifValue }}

                            {{#ifValue name equals "views" }}
                                <div class="file-list file-list-views">
                                    <b>Views</b>
                                    <ul>
                                        {{#each children}}
                                            <li>
                                                {{ name }}
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/ifValue }}
                        {{/each}}
                    </div>
                </div>
                {{/if}}

                {{#if readme}}
                    <div class="box readme clearfix">
                        <div class="key">
                            <b>readme.md</b>
                        </div>
                        <div class="value">
                            {{{readmeContent}}}
                        </div>
                    </div>
                {{/if}}
            </div>

        {{/each }}
    {{/each }}
</div>
{{> footer }}
